error:
	validateCsrf: 'Vaše session vypršela. Prosím vraťte se na úvodní stránku a zkuste to znovu.'
	equal: 'Prosím zadejte %s.'
	notEqual: 'Hodnota nesmí být %s.'
	filled: 'Toto pole je povinné.'
	blank: 'Toto pole nesmí být prázdné.'
	minLength: 'Minimální délka je %d znaků.'
	maxLength: 'Maximální délka je %d znaků.'
	length: 'Zadejte prosím hodnotu od %d do %d počtu znaků.'
	email: 'Zadejte prosím validní email.'
	url: 'Zadejte prosím validní URL.'
	integer: 'Zadejte prosím celé číslo.'
	float: 'Zadejte prosím číslor.'
	min: 'Zadejte prosím hodnotu vyšší nebo rovnu %d.'
	max: 'Zadejte prosím hodnotu nižší nebo rovnu %d.'
	range: 'Zadejte prosím hodnotu v rozmezí od %d do %d.'
	fileSize: 'Maximální velikost souboru je %d bytů.'
	maxPostSize: 'Maximální velikost dat je %d bytů.'
	mimeType: 'Nahrávaný soubor není ve správném formátu.'
	image: 'Nahrávaný soubor musí být obrázek s koncovkou JPEG, GIF nebo PNG.'
	selectBoxValid: 'Vyberte hodnotu z nabídky.'
	uploadControlValid: 'Nastala chyba při nahrávání souboru.'
