<h1>
	<a n:foreach="$links as $link" href="{plink $link->getDestination()}">
		<i n:if="$iterator->first" class="fa {$icon}" title="{$link->getTitle()}"></i>
		<small n:tag-if="!$iterator->first">
			{$link->getTitle()}
		</small>
	</a>
</h1>
